<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>80419445890-2t08a5s2pf1ava34fvsk3o6aarhkjlfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80419445890-2t08a5s2pf1ava34fvsk3o6aarhkjlfj</string>
	<key>API_KEY</key>
	<string>AIzaSyBdWxQd8HB3rhjbXSUD8GWUDkXBi_zuhqI</string>
	<key>GCM_SENDER_ID</key>
	<string>80419445890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hippocampus.ios</string>
	<key>PROJECT_ID</key>
	<string>hippocampus-9622f</string>
	<key>STORAGE_BUCKET</key>
	<string>hippocampus-9622f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:80419445890:ios:d564294ddec6b716</string>
	<key>DATABASE_URL</key>
	<string>https://hippocampus-9622f.firebaseio.com/</string>
</dict>
</plist>
